@charset "utf-8";

/*
* CSS-Design Raster
* gardeco-Website
* Online-Schule fuer Gestaltung: Webdesign-Kurs
*/


/********** Reset **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********** Section-Abstände **********/

main section { margin: 15vh 0; }

main section:first-child {
    margin: 3vh 0;
}

/* Media Query - Tablets Portrait */

@media only screen and (max-width: 1024px) {
    main section { margin: 12vh 0; }

    main section:first-child {
        margin: 2vh 0;
    }
}

/* Media Query - Smartphones Portrait */

@media only screen and (max-width: 767px) {
    main section { margin: 10vh 0; }

    main section:first-child {
        margin: 1vh 0;
    }
}

/********** maximale Content-Breite **********/

.wrapper {
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}

.wide {
    max-width: 100%;
    padding: 0;
}


/********** Flexbox **********/

.flex-container {
    display: flex;
    gap: 5%;
    flex-direction: row;
}

.flex-container > * {
    flex: 1;
}

/* Header Flexbox */

header .flex-container {
    height: 125px;
    justify-content: space-between;
    gap: 5%;

} 

header .flex-container > * {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

header .logo {
    flex-shrink: 0;
    align-self: center;
}

/* Media Query - Tablets Portrait */

@media only screen and (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
    }
    
    .flex-container-1024px {
        display: flex;
        gap: 5%;
        flex-direction: row;
    }

    .flex-container-1024px > * {
        flex: 1;
    }

    .flex-container-1024px > .icon {
        flex: initial;
    }
}

/* Media Query - Smartphones Portrait */

@media only screen and (max-width: 767px) {
    .flex-container-1024px {
        flex-direction: column;
    }

    .flex-container-767px {
        display: flex;
        gap: 5%;
        flex-direction: row;
    }
}

/* Media Query - Small Smartphones */

@media only screen and (max-width: 576px) {
    .flex-container-767px {
        flex-direction: column;
    }

    .flex-container-576px {
        display: flex;
        gap: 5%;
        flex-direction: row;
    }
}


/********** Unterseite Leistungen, Referenz 2 **********/

.reverse {
    grid-auto-flow: dense;
}

.reverse .text {
    grid-column: 3 / 4;
}

/********** Grid **********/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

/* Media Query - Tablets Portrait */

@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        justify-items: stretch;
        gap: 10px;
        margin: 20px 0;
    }

    .grid-container > .text {
        grid-column: 1 / 3;
    }
}

/* Media Query - Smartphones Portrait */

@media only screen and (max-width: 767px) {
    .grid-container {
        display: flex;
        gap: 3%;
        flex-direction: column;
    }

    .grid-container > * {
        margin: 5px 0;
    }

    .grid-container img {
        max-width: 400px;
        height: auto;
    }
}